
<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div class="container">
<table class="table table-sm table-inverse table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Details</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <th scope="row">{{hero.id}}</th>
      <td>{{hero.name}}</td>
      <td><button (click)="gotoDetail(hero.id)">View Details</button></td>
      <td><button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button></td>
    </tr>
    
  </tbody>
</table>
</div>