
<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-10">
<table class="table table-sm table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Details</th>
      <th>Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <th scope="row">{{hero.id}}</th>
      <td>{{hero.name}}</td>
      <td><button (click)="gotoDetail(hero.id)">View Details</button></td>
      <td><button class="delete"
      (click)="confirmation(heroes); $event.stopPropagation()">x</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm" (click)="displayHero; $event.stopPropagation()">Small modal</button>
    </td>
    </tr>
    
  </tbody>
</table>
    </div>
    <div *ngIf="show" class="col">
      <h1>Tembel</h1>
    </div>
  </div>

</div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>